<div class = "jumbotron">
    <div class = "cover">
        <h1>Welcome to MyRecipes App</h1>
        
        <h2 id = "h2_text">
          This is the home page
        </h2>
        <div class="center">
          <%= link_to "Sign up", "", class: "btn btn-lg btn-success", id: "sign_up" %>
        </div>
    </div>
</div>

<div class = "bottom-style">
  <div class= "row">
    <div class = "col-lg-4">
      <h3 class="midrow">
        View Recipes as Guest User
      </h3>
      <h2 class = "left h2-lines">
        Browse and view recipes as a guest and Sign up later
      </h2>
      <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %></p>
    </div>
    
    <div class = "col-lg-4">
      <h3 class="midrow">
        View Recipes as Guest User
      </h3>
      <h2 class = "left h2-lines">
        Browse and view recipes as a guest and Sign up later
      </h2>
      <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %></p>
    </div>
    
    <div class = "col-lg-4">
      <h3 class="midrow">
        View Recipes as Guest User
      </h3>
      <h2 class = "left h2-lines">
        Browse and view recipes as a guest and Sign up later
      </h2>
      <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %></p>
    </div>
  </div>
</div>


